<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Personal Web Site of Pavel Bakunovich">
  <meta name="keywords" content="Christian, Project Manager, Engineer, Geek, Husband, Father, Son, Reader, Home Cook, Soccer Player, Brazilian Jiu-Jitsu Player, Leather Craftsman">
  <meta name="author" content="Pavel Bakunovich">
  <title>{{ title|default('Pavel Bakunovich') }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
  <main class="page">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
