{% extends "base.html" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='images/profile.jpeg') }}" alt="Avatar" class="avatar">
  <h1 class="name">Pavel Bakunovich</h1>
  <p class="bio">Christian, Project Manager, Engineer, Geek, Husband, Father, Son, Reader, Home Cook, Soccer Player, Brazilian Jiu-Jitsu Player, Leather Craftsman.</p>

  <div class="links">
    <a href="#" class="btn">GitHub</a>
    <a href="#" class="btn">LinkedIn</a>
    <a href="#" class="btn">Telegram</a>
  </div>
</div>
{% endblock %}
